@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-family: 'Heebo', sans-serif;
        font-size: 17px;
        @apply text-gray-800;
    }

    input {
        @apply border;
        @apply border-gray-800;
    }

}

@layer components {

    .input-error {
        @apply border-red-700;
        @apply text-red-700;
    }

    .btn-primary {
        @apply text-white;
        @apply py-1;
        @apply px-6;
        @apply transition-colors;
    }

    .link-primary {
        @apply cursor-pointer;
        @apply transition-colors;
    }

    @layer utilities {
        .btn-primary {
            background-color: #1E6E8E;
        }

        .btn-primary:hover {
            background-color: #488EA3;
        }

        .link-primary {
            color: #1E6E8E;
        }

        .link-primary:hover {
            color: #488EA3;
        }
          
    }
}